html,
body {
    height: 100%;
    background-color: rgb(159, 159, 159);
}

#mynetwork {
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
    font-family: 'Comfortaa', cursive;
}

#container2 {
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-family: 'Comfortaa', cursive;
}

#mynetwork2{
    width: 100%;
    height: 100%;
    font-family: 'Comfortaa', cursive;
}

#container{
    width: 100%;
    height: 70%;
    background-color: white;
    display: flex;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
}

#generate-graph{
    margin:auto;
    display:block;
    font-family: 'Comfortaa', cursive;
}
#generate-graph:hover{
    transform: scale(1.2);
    transition: 1s;
}

#solve{
    margin:auto;
    display:block;
    font-family: 'Comfortaa', cursive;
}

#solve:hover{
    transform: scale(1.2);
    transition: 1s;
}